<div class="course-finder">
    <div class="course-search">
        <label>Enter course name</label>
        <br/>
        <input [(ngModel)]="name" placeholder="name">
        <button (click)="getCourses()">Find</button>
    </div>
    <div class="result-courses">
        <ul *ngFor="let course of courses; let i = index">
            <li>
                {{i+1}}.
                Course name: {{course.name}},
                Course category : {{course.category.name}},
                Course specialization : {{course.specialization.name}},
                Cours members: {{course.members.length}}
                <button (click)="deleteCourse(course)">Delete</button>
                <button (click)="updateCourse(course)">Update</button>
            </li>
        </ul>
    </div>
</div>