<div class="course-creator">
    <div class="course-name">
        <label>Course name: {{course.name}}</label>
        <br/>
        <input [(ngModel)]="course.name">
    </div>
    <div class="course-category">
        <label>Course category: {{course.category.name}}</label>
        <br/>
        <input [(ngModel)]="course.category.name">
    </div>
    <div class="course-specialization">
        <label>Course specialization: {{course.specialization.name}}</label>
        <br/>
        <input [(ngModel)]="course.specialization.name">
    </div>
    <div class="course-members">
        <label>Firstname:</label>
        <input [(ngModel)]="firstName">
        <br/>
        <label>Lastname:</label>
        <input [(ngModel)]="lastName">
        <br/>
        <button (click)="addMember()">Add member</button>
        <br/>
        <ul *ngFor="let member of course.members">
            <li>
                {{member.firstName + " " + member.lastName}}<button (click)="deleteMember(member)">Delete</button>
            </li>
        </ul>
    </div>
    <div class="course-description">
        <label>Course description</label>
        <br/>
        <textarea [(ngModel)]="course.description"></textarea>
    </div>
    <button (click)="createCourse()">Create course</button>
</div>
