<div class="categories-finder">
    <div>
        <input [(ngModel)]="name">
        <button (click)="getCategories()">Find</button>
    </div>
    <ul *ngFor="let category of categories">
        <li>{{category.name}}
            <button (click)="deleteCategory(category.name)">Delete</button>
            <button>
                <a routerLink="../category-updater/{{category.name}}">Update</a>
            </button>
        </li>
    </ul>
</div>