<nav>
    <a routerLink="/member-creator">Create member</a>
    <br/>
    <a routerLink="/members-finder">Find members</a>
    <br/>
    <a routerLink="/spec-creator">Create specialization</a>
    <br/>
    <a routerLink="/specs-finder">Find specializations</a>
    <br/>
    <a routerLink="/category-creator">Create course category</a>
    <br/>
    <a routerLink="/categories-finder">Find course categories</a>
    <br/>
    <a routerLink="/group-creator">Create group</a>
    <br/>
    <a routerLink="/groups-finder">Find groups</a>
    <br/>
    <a routerLink="/course-creator">Create course</a>
    <br/>
    <a routerLink="/course-finder">Find courses</a>
</nav>

<router-outlet></router-outlet>