<div class="category-updater">
    <p>Current course category name: {{name}}</p>
    <br/>
    <input [(ngModel)]="category.name">
    <br/>
    <button (click)="updateSpec()">Update</button>
    <button (click)="getBack()">Cancel</button>
</div>