<div class="members-finder">
    <h2>Find members</h2>
    <input [(ngModel)]="name">
    <br/>
    <button (click)="findMembers()">Find members</button>
    <br/>
    <ul *ngFor="let member of members">
        <li>{{member.firstName}} {{member.lastName}}
            <button (click)="deleteMember(member)">Delete</button>
            <button><a routerLink="../member-updater/{{member.firstName}}/{{member.lastName}}">Update</a></button>
        </li>
    </ul>
</div>