<div class="specs-finder">
    <div>
        <input [(ngModel)]="name">
        <button (click)="getSpecs()">Find</button>
    </div>
    <ul *ngFor="let spec of specs">
        <li>{{spec.name}}
            <button (click)="deleteSpec(spec.name)">Delete</button>
            <button>
                <a routerLink="../spec-updater/{{spec.name}}">Update</a>
            </button>
        </li>
    </ul>
</div>