<div class="group-name">
    <div class="group-name">
        <p>Old name: {{group.name}}</p>
        <input placeholder="Enter new name" [(ngModel)]="group.name">
    </div>
    <div class="group-spec">
        <input placeholder="Enter new spec" [(ngModel)]="group.specialization.name">
    </div>
    <div class="group-members">
        <label>Firstname</label>
        <input [(ngModel)]="firstName">
        <br/>
        <label>LastName</label>
        <input [(ngModel)]="lastName">
        <br/>
        <button (click)="addMember()">Add member</button>
        <br/>
        <ul *ngFor="let member of group.members; let i = index">
            <li>{{i}} {{member.firstName + " " +member.lastName}} <button (click)="deleteMember(member)">Delete</button></li>
        </ul>
    </div>
    <button (click)="updateGroup()">Update</button>
    <button (click)="getBack()">Cancel</button>
</div>