<div class="specialization-creator">
    <p>Create specialization</p>
    <div>
        <label>{{spec.name}}</label>
        <br/>
        <input [(ngModel)]="spec.name">
    </div>
    <button (click)="createSpecialization()">Create specialization</button>
</div>