<div class="spec-updater">
    <p>Current specialization name: {{name}}</p>
    <br/>
    <input [(ngModel)]="spec.name">
    <br/>
    <button (click)="updateSpec()">Update</button>
    <button (click)="getBack()">Cancel</button>
</div>