<div class="member-updater">
    <p>Current full name : {{firstName + " " + lastName}}</p>
    <br/>
    <label for="firstName">Firstname</label>
    <br/>
    <input id="firstName" [(ngModel)]="member.firstName">
    <br/>
    <label for="lastName">LastName</label>
    <br/>
    <input id="lastName" [(ngModel)]="member.lastName">
    <br/>
    <button (click)="updateMember()">Update member</button>
    <button (click)="getBack()">Cancel</button>
</div>