<h1>hellos</h1>
<ul class="hellos" >
    <li *ngFor="let hello of hellos" >
        <a routerLink="/detail/{{hello.id}}">
            <span>{{hello.id}}</span> {{hello.name}}
        </a>
    </li>
</ul>
<!-- <app-hello-detail [hello]="selectedHello"></app-hello-detail> -->