<div class="member-creator">
    <h2>Create member</h2>
    <div class="member-fistname">
        <label>{{member.firstName}}</label>
        <br/>
        <input [(ngModel)]="member.firstName">
    </div>
    <div>
        <label>{{member.lastName}}</label>
        <br/>
        <input [(ngModel)]="member.lastName">
    </div>
    <button (click)="createMember()">Create member</button>
</div>