<div class="groups-finder">
    <div class="group-search">
        <label>Enter group name</label>
        <br/>
        <input [(ngModel)]="name" placeholder="name">
        <button (click)="getGroups()">Find</button>
    </div>
    <div class="result-groups">
        <ul *ngFor="let group of groups; let i = index">
            <li>
                {{i+1}}.
                Group name: {{group.name}},
                Group specialization : {{group.specialization.name}},
                Group members: {{group.members.length}}
                <button (click)="deleteGroup(group)">Delete</button>
                <button (click)="updateGroup(group)">Update</button>
            </li>
        </ul>
    </div>
</div>