<div class="category-creator">
    <p>Create course category</p>
    <div>
        <label>{{category.name}}</label>
        <br/>
        <input [(ngModel)]="category.name">
    </div>
    <button (click)="createCategory()">Create specialization</button>
</div>