<div class="course-name">
    <div class="course-name">
        <p>Old name: {{course.name}}</p>
        <input placeholder="Enter new name" [(ngModel)]="course.name">
    </div>
    <div class="course-category">
        <input placeholder="Enter new category" [(ngModel)]="course.category.name">
    </div>
    <div class="course-spec">
        <input placeholder="Enter new specialization" [(ngModel)]="course.specialization.name">
    </div>
    <div class="course-members">
        <label>Firstname</label>
        <input [(ngModel)]="firstName">
        <br/>
        <label>LastName</label>
        <input [(ngModel)]="lastName">
        <br/>
        <button (click)="addMember()">Add member</button>
        <br/>
        <ul *ngFor="let member of course.members; let i = index">
            <li>{{i}} {{member.firstName + " " +member.lastName}} <button (click)="deleteMember(member)">Delete</button></li>
        </ul>
    </div>
    <div class="course-desc">
        <textarea [(ngModel)]="course.description"></textarea>
    </div>
    <button (click)="updateCourse()">Update</button>
    <button (click)="getBack()">Cancel</button>
</div>