<div class="group-creator">
    <div class="group-name">
        <label>Group name: {{group.name}}</label>
        <br/>
        <input [(ngModel)]="group.name">
    </div>
    <div class="group-specialization">
        <label>Group specialization: {{group.specialization.name}}</label>
        <br/>
        <input [(ngModel)]="group.specialization.name">
    </div>
    <div class="group-members">
        <label>Firstname:</label>
        <input [(ngModel)]="firstName">
        <br/>
        <label>Lastname:</label>
        <input [(ngModel)]="lastName">
        <br/>
        <button (click)="addMember()">Add member</button>
        <br/>
        <ul *ngFor="let member of group.members">
            <li>
                {{member.firstName + " " + member.lastName}}<button (click)="deleteMember(member)">Delete</button>
            </li>
        </ul>
    </div>
    <button (click)="createGroup()">Create group</button>
</div>
